@font-face{
	font-family: Display;
	src: url('../fonts/display.ttf');
}

body {
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: #8de3fc;
}

#small-cloud {
	position: absolute;
	height: 100%;
	width: 100%;
}

#clock-wrapper {
	/* will stay same width and height regardless of font */
	display:flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 10%;
	border: 5px groove gray;
	border-radius: 50px;
	padding: 100px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/pixelated.jpg');
	background-size: 100%;
}

#clock {
	font-size: 70px;
	font-family: Display;
	letter-spacing: 10px;
}